<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.krxkid.android.mp4"
          android:versionCode="1"
          android:versionName="1.0">
  <!-- 亮度遮罩悬浮窗权限 -->
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-sdk
      android:minSdkVersion="8"
      android:targetSdkVersion="19" />


  <application
      android:largeHeap="true"
      android:hardwareAccelerated="true"
      android:allowBackup="true"
      android:icon="@drawable/ic_launcher"
      android:label="@string/app_name"
      android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
    <meta-data
        android:name="roboguice.modules"
        android:value="com.krxkid.android.mp4.AndroidModule" />

    <activity android:name=".player.VideoActivity">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="video/mp4" />
      </intent-filter>
    </activity>
  </application>

</manifest>
